.card {
    padding: 5rem 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    color: black;
    transition: .3s ease-in-out;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 40px;
    border: 2px solid black;
    background-color: #b3b3b3;
}

.card:hover {
    scale: 1.05;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.title {
    width: 245px;
    font-size: 18px;
}

.card img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 7px;
}

